@media screen and (max-width: 650px) {
  .nav-link {
    width: 100%;
    margin: 10px 0;
    height: auto;
    flex-direction: column;
  }
  .part-1 {
    width: 100%;
  }
  .link-ul {
    width: 100%;
    justify-content: center;
    margin: 0;
    margin-top: 8px;
  }
  .panda {
    width: 40%;
    height: auto;
  }
  .scear-var {
    width: 55%;
    height: 35px;
    margin: auto auto;
    border-radius: 12px;
    background: #f7f1f1;
    width: 60%;
  }
  /* section-1-area */
  .section-1 {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .text-area {
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 10px;
  }
  .text-area h2 {
    font-family: 500;
    font-size: 3em;
  }
  .dolar {
    font-size: 2em;
    font-weight: 500;
    top: 10px;
  }
  .btn {
    position: relative;
    top: 8px;
    text-align: center;
  }
  .cad-monitor {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  .cad-monitor > img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .dark-2 {
    margin: 0;
    margin-left: 10px;
  }
  /* section-2-area */

  .section-2 {
    width: 100%;
    height: auto;
    margin: 20px auto;
  }
  .dark-2 {
    font-size: 2em;
    text-align: left;
    font-weight: 500;
  }
  .dark-4 {
    font-size: 20px;
  }
  .watch-text {
    height: 120;
    width: 90%;
    margin: 10px auto;
  }

  .watch-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* section-3-area */

  .section-3 {
    height: auto;
    width: 100%;
    margin: 20px auto;
  }
  .parent {
    flex-direction: column;
  }
  .child {
    height: auto;
    width: 90%;
    margin: 10px auto;
  }
  /* seciton-4-area */
  .about {
    font-size: 30px;
  }
  .section-4 {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  .childen {
    height: auto;
  }
  .childen > .imaas {
    width: 290px;
    height: 290px;
  }
  /* seciton-5 */
  .section-5 {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .input-file {
    width: 90%;
    height: auto;
    margin: 20px auto;
    transform: translate(0, 0);
    text-align: center;
  }
  input[type="email"] {
    width: 60%;
    height: 20px;
    margin-bottom: 2px;
  }

  .email {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px auto;
  }
  .send {
    width: 30%;
    height: auto;
  }
}
